html {
    margin: 0;
    width: 100%;
}

body {
    margin: 0;
    width: 100%;
}

#header {
    margin: 0;
    text-align: center;
}

#content {
    display: flex;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 2vh;
}

.tutorials {
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    gap: 0;
}

#filters {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    gap: 2vw;
    justify-content: space-around;
}

.tutorialslot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw;
    align-items: center;
    margin: 0;
    opacity: 1;
}

.tutorialslot:hover {
    opacity: 0.8;
}


.course {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 30%;
    transition: 0.1;
    opacity: 1;
}

.time {
    display: flex;
    justify-content: flex-end;
    width: 30%;
}

.subheader {
    font-size: min(2vw, 20px);
    margin: 0vw 0vw 1vh 0vw;
}

.teacher {
    font-size: max(8px, 1.5vh)J;
}

@media only screen and (max-width: 1000px) {
    #header {
        font-size: 9vw;
    }

    #filters {
        display: flex;
        margin: 0;
        padding: 0;
        gap: 1vw;
        width: 100%;
        justify-content: space-between;
    }

    .filter {
        width: 40vw;
    }

    .teacher {
        font-size: 2.2vw;
    }

    .subheader {
        font-size: min(4vw, 40px);
        margin: 0vw 0vw 1vh 0vw;
    }

    .tutorialslot {
        font-size: 3vw;
    }
}